body {
  margin: 0;
  height: 100%;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("/assets/image/beach-wallpaper.jpg"); */
  /* background-image: url("/assets/image/ocean-horizon.jpg"); */
  color: #e6f1f3e7;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  background-color:  #384142;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .9;
  overflow-y: auto;
}

html{
  background-image: url("/assets/image/black-sea-water.jpg");
  background-size: cover;
  background-attachment: fixed;
  height:100%;
}
